<h1>Stores#index</h1>
<p>Find me in app/views/stores/index.html.erb</p>

<span class="navbar-item">
    <%= link_to "Sign out", destroy_store_session_path, method: :delete, class: 'button is-danger' %>
</span>
